.navbar {
    background-color: #3D3D68;
    box-shadow: 0 0 36px 0 rgb(0 0 0 / 30%);
  
    height: 100%;
    margin: 0px;
    width: 15%;
    padding: 0px;
    position: fixed;
    overflow: auto;
  }

  button.connect {
    background-color: #1969FF;
    border: none;
    padding: 5px;
    margin: 30px 0px 8px 8px;
    color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px -2px 0px inset;
    overflow: hidden;
    width: 80%;
    }
  .navbarLink {
    display: inline;
    vertical-align:middle;
    position: absolute;
  }
  .navbarLink:hover {
    cursor: pointer;
  }
  .sendPost {
    background-color: #3D3D68;
    position: absolute;
    z-index: 100;

    margin-top: 0;
  }
  .closeButton {
    margin: 0px 20px 0px 10px;
    font-size: 150%;
    cursor: pointer;
  }
  textarea.postText {
    background-color: #3D3D68;
    color: white;
    width: 95%;
    border: none;
    font-size: 120%;
  }
  .sendPostButton {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #1969FF;
    color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px -2px 0px inset;
    float: right;
    position: absolute;
    right: 8px;
    bottom: 8px;
    
  }
  ul #a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    overflow: hidden;
  }
  img {
    vertical-align: center;
  }
  .icon {
    display: inline;
  }
  .navbarElement {
    margin-top:20%;
    margin-left: 10%;
  }
  @media screen and (max-width: 600px) {
    .sendPost {
        width: 100%;
        left: 0;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        top: 0;
    }
    textarea.postText {
      height: 85vh;
    }
    }
    @media screen and (min-width: 600px) {
      .sendPost {
          width: 40%;
          left: 35%;
          height: 40vh;
          border-radius: 20px;
          top: 10%;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
      textarea.postText {
        height: 25vh;
      }
      }