.createPost {
  resize: none;
  width: calc(100% - 20px);
  border-style: solid;
    border-width: 1.5px;
    background-color: #f5f5f5;
    border-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 20px;
    height: 50vh;
}
.createPost:focus {
  outline: none;
}
.sendPostButton {
  border-style: solid;
  border-width: 1.5px;
  background-color: #f5f5f5;
  border-color: rgb(214, 214, 214);
  padding: 5px;
  border-radius: 20px;
}