@media screen and (min-width: 680px) {
  .main {
    margin-left: 8%;
    padding: 20px;
  }
}

@media screen and (max-width: 680px) {
  .main {
    margin-bottom: 10%;
    padding: 20px;
  }
}

p.big {
  font-size: 115%;
}

.postAddress {
  opacity: 90%;
}

.profileAddress {
  overflow-wrap: break-word;
}

.followButton {
  border-style: solid;
  border-width: 1.5px;
  background-color: #f5f5f5;
  border-color: rgb(214, 214, 214);
  padding: 5px;
  border-radius: 20px;
}