body {
    background-color: #32325D;
}
@media screen and (min-width: 680px) {
    .main {
        margin-left: 8%;
        padding: 20px;
    }
}
@media screen and (max-width: 680px) {
    .main {
        margin-bottom: 10%;
        padding: 20px;
    }
}