@media screen and (min-width: 576px) {
.sectionOne {
    max-width: 35%;
}
}
@media screen and (max-width: 576px) {
.sectionOne {
    max-width: 80%;
}
}
.sectionOne {
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.enterAppButton {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    color: white;
    padding-right: 25px;
    font-size: 100%;
    border:none;
    background-color:  #1969ff;
    border-radius: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sectionTwo {
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
    padding-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 60px 36px -28px inset;
    padding-bottom: 100px;
    color: #425466;
}
.blueText {
    color: #1969ff;
    display: inline-block;
}
.sectionThree {
    background-color: #f6f9fc;
    color: #3d3d68;
    display: inline-block;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.column {
    width: 21%;
    padding: 2%;
    float: left;
    background-color: #f6f9fc;
    color: #3d3d68;
    display: inline-block;
}
.sectionFour {
    background-color: #ffffff29;
    display: block;
    padding: 8px;
}
.sectionOneGradient {
    width: 100%;
    background-image: linear-gradient(#1969ff,rgb(4, 4, 86));
}
.sectionFive {
    padding-left: 25px;
    padding-right: 25px;
    background-image: linear-gradient(#00c8ffe7, blue);
    padding-top: 50px;
    padding-bottom: 59px;
}
.statistic {
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px -3px 0px inset;
    padding: 2.5%;
    width: 35%;
    color: rgba(174, 174, 174, 0.715);
    
    display: inline-block;
    margin: 5%;
}
a.enterApp {
    color: white;
}