@media screen and (min-width: 680px) {
    .main {
        margin-left: 8%;
        padding: 20px;
    }
}
@media screen and (max-width: 680px) {
    .main {
        margin-bottom: 10%;
        padding: 20px;
    }
}
.lockbutton {
    background-color:  #1969ff;
    border: none;
    padding: 5px;
    border-radius: 25px;
    margin: 5px;
}